@model Item

<h1>@Model.Name</h1>

<partial name="_CabinPageLayout" />


@*
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <p>Location: @Model.Location</p>
            <p>Price per night: @Model.PricePerNight</p>
        </div>
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="image-fluid" />
        </div>
    </div>
</div>

*@