@using System.Globalization;
@model Item

<div class="container text-center">
    <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid rounded" />
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-lg-8">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <p><strong>Location:</strong> @Model.Location</p>
            <p><strong>Price per night:</strong> @Model.PricePerNight.ToString("0.00 NOK")</p>
        </div>
        <div class="col-lg-4">
            <div class="sticky-box position-sticky top-0 bg-light border border-dark-subtle rounded-3 p-4">
                <div class="row mb-2">
                    <b>@Model.PricePerNight.ToString("C", CultureInfo.CreateSpecificCulture("no-NO")) per night</b>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group mb-4">
                        <label asp-for="FromDate">Check-In</label>
                        <input asp-for="FromDate" id="datepicker" class="form-control type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-sm-6 form-group mb-4">
                        <label asp-for="ToDate">Checkout:</label>
                        <input asp-for="ToDate" id="datepicker" class="form-control type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group mb-4">
                        <label for="guests">Guests:</label>
                        <input type="number" id="guests" class="form-control" min="1" value="1" max="@Model.Capacity" />
                    </div>
                </div>

                <div class="mb-3">
                    @{
                        var numberOfNights = (Model.ToDate.AddDays(5) - Model.FromDate).Days;
                        var perNightPrice = numberOfNights * Model.PricePerNight;
                        var cleaningFee = perNightPrice * (decimal)0.025;
                        var serviceFee = perNightPrice * (decimal)0.050;
                        var taxes = perNightPrice * (decimal)0.010;


                        var totalPrice = perNightPrice + cleaningFee + serviceFee + taxes;

                        <div class="row">
                            <div class="col-7">
                                <p>@Model.PricePerNight.ToString("C", CultureInfo.CreateSpecificCulture("no-NO")) &#215; @numberOfNights nights</p>
                            </div>
                            <div class="col-5 text-end">
                                <p>@perNightPrice.ToString("C", CultureInfo.CreateSpecificCulture("no-NO"))</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <p>Cleaning fee</p>
                            </div>
                            <div class="col-5 text-end">
                                <p>@cleaningFee.ToString("C", CultureInfo.CreateSpecificCulture("no-NO"))</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <p>Service fee</p>
                            </div>
                            <div class="col-5 text-end">
                                <p>@serviceFee.ToString("C", CultureInfo.CreateSpecificCulture("no-NO"))</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-7">
                                <p>Taxes</p>
                            </div>
                            <div class="col-5 text-end">
                                <p>@taxes.ToString("C", CultureInfo.CreateSpecificCulture("no-NO"))</p>
                            </div>
                        </div>

                        <div class="row">
                            <hr class="hr hr-blurry mx-auto w-75 px-3" />
                            <div class="col-7">
                                <b>Total</b>
                            </div>
                            <div class="col-5 text-end">
                                <b>@totalPrice.ToString("C", CultureInfo.CreateSpecificCulture("no-NO"))</b>
                            </div>
                        </div>
                    }
                </div>

                
                <button type="submit" class="btn btn-primary w-100">Reserve</button>


            </div> 
        </div>
    </div>
</div>