@using System.Globalization;
@model Item

<div class="col">
    <div class="bg-white border border-dark-subtle rounded-3">
        <!-- Alternativ "Pris per dag"
        <p class="position-absolute m-2 p-2 bg-warning text-white rounded-pill border border-white fs-6">
            @Model.PricePerNight.ToString("NOK 0.00") 
            <small>per night</small>
            </p>
        -->
        <a asp-controller="Item"
        asp-action="Details"
        asp-route-id="@Model.Id">
        <img src="@Model.ImageUrl" class="card-img-top img-fluid" alt="@Model.Name" id="itemcard-image">
        </a>
        
        <div>
            <div class="d-flex justify-content-between pt-2 mx-2">
                <div>
                    <b class="text-start">
                        <a asp-controller="Item"
                           asp-action="Details"
                           asp-route-id="@Model.Id">@Model.Name</a>
                    </b>

                    @if (Model.Location != null && Model.Fylke != null)
                    {
                        <p>@Model.Location, @Model.Fylke</p>
                    } else
                    {
                        <p>@Model.Location</p>
                    }

                </div>
                <div>
                    <b class="text-end">
                        NOK @Model.PricePerNight.ToString("N2", CultureInfo.CreateSpecificCulture("no-NO"))
                    </b>
                    <p class="text-end">per night</p>
                </div>
            </div>
            <div class="mx-2 pb-2">
                <p class="text-truncate">@Model.Description</p>
                <hr class="hr hr-blurry" />
                <p class="bi bi-person">@Model.Capacity</p>
            </div>

        </div>
    </div>
</div>

