@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var userName = UserManager.GetUserName(User);
    var displayName = userName?.Split('@').FirstOrDefault() ?? userName;  // If userName is null, display it as is

    var controller = Context.Request.RouteValues["Controller"];
    var action = Context.Request.RouteValues["Action"];
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-light  @(controller?.ToString() == "Item" && action?.ToString() == "Create" ? "fw-bold" : "")" asp-area="" asp-controller="Item" asp-action="Create">List your property</a>
    </li>

    <!-- Dropdown menu-->
    <li class="nav-item dropdown d-none d-sm-block">
        <!-- Dropdown button -->
        <a class="btn btn-dark dropdown-toggle bi bi-person-circle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">&#9;@displayName</a>

        <!-- Dropdown items -->
        <ul class="dropdown-menu bg-dark border-0" aria-labelledby="dropdownMenuLink">
            <li>
                    <a id="manage" class="nav-link bg-dark text-light dropdown-item @(controller?.ToString() == "Home" && action?.ToString() == "MinSide" ? "fw-bold" : "")" asp-controller="Home" asp-action="MinSide" title="My Profile">My profile</a>
            </li>
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-dark btn-link text-light dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </li>

    <!-- Handles the responsiveness of the dropdown menu when the screen is small -->
    <div class="d-block d-sm-none">
        <li class="nav-item">
            <a id="manage" class="nav-link text-light @(controller?.ToString() == "Home" && action?.ToString() == "MinSide" ? "fw-bold" : "")" asp-controller="Home" asp-action="MinSide" title="My Profile">My profile</a>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    </div>


}
else
{
    <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
