@model IEnumerable<Order>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Reservation time</th>
            <th>Price</th>
            <th>Number of Guests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.OrderDate</td>
                <td>@(order.ToDate.Subtract(order.FromDate).Days)</td>
                <td>@order.TotalPrice</td>
                <td>@order.Guests</td>
            </tr>
        }
    </tbody>
</table>
